body{
  width: 100%;
}

p{
  width: 1235px;
  font-size: 16px;
}

.main-container{
  background-color: gray;
  width: 1770px;
  height: 622px;
  display: flex;
  justify-content: space-between;
}

.first-container{
  background-color: orange;
  background-image: url(../img/about_us.jpg);
  width: 868px;
  height: 622px;
  display: flex;
}

.first-container-content-wrapper{
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100%;
  height: 196px;
  align-self: flex-end;
}

.first-container-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  height: 96px;
}

.second-container{
  background-color: gray;
  width: 868px;
  height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-container-content-wrapper{
  border: solid 1px;
  height: 295px;
  width: 99.8%;
  background-color: white;
  background-image: url(../img/about_us_item_1.svg);
  background-repeat: no-repeat;
  background-position: 60px 50%;
}

.second-container-content{
  width: 452px;
  height: 165px;
  margin: 65px 118px 65px 300px;
}